.NoPage {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 90vh;
}

.NoPage > h1 {
    font-size: 210px;
}

.NoPage > p {
    font-size: 54px;
}